v-env
.env
!.env.example

node_modules
__pycache__
v-env
.DS_Store
aws_cf_deploy_anything_llm.json
yarn.lock
*.bak
.idea
/src/test/llm_model/ 
/src/test/data/

/src/test/tempfs/
/src/test/extracted_texts/
/src/test/embedding/